{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> {{ success }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>    
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-payment" action="{{ action }}" method="post">
           <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_allsecureexchange{{ code }}_status" id="input-status" class="form-select">
                {% if payment_allsecureexchange_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-title"><span data-toggle="tooltip" title="">{{ entry_title }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_allsecureexchange{{ code }}_title" value="{{ payment_allsecureexchange_title }}" placeholder="{{ entry_title_placeholder }}" id="input-title" class="form-control" />
              <br/>
              <span>{{ desc_title }}</span>
            </div>
          </div>
          <div class="row mb-3 required">
            <label class="col-sm-2 col-form-label" for="input-api_key">{{ entry_api_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_allsecureexchange{{ code }}_api_key" value="{{ payment_allsecureexchange_api_key }}" placeholder="{{ entry_api_key }}" id="input-api_key" class="form-control" />
              {% if error_api_key %}
              <div class="text-danger">{{ error_api_key }}</div>
              {% endif %}
              <br/>
              <span>{{ desc_api_key }}</span>
            </div>
          </div>
          <div class="row mb-3 required">
            <label class="col-sm-2 col-form-label" for="input-api_secret">{{ entry_api_secret }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_allsecureexchange{{ code }}_api_secret" value="{{ payment_allsecureexchange_api_secret }}" placeholder="{{ entry_api_secret }}" id="input-api_secret" class="form-control" />
              {% if error_api_secret %}
              <div class="text-danger">{{ error_api_secret }}</div>
              {% endif %}
              <br/>
              <span>{{ desc_api_secret}}</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_allsecureexchange{{ code }}_geo_zone_id" id="input-geo-zone" class="form-select">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == payment_allsecureexchange_geo_zone_id %}
                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                {% else %}
                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_allsecureexchange{{ code }}_sort_order" value="{{ payment_allsecureexchange_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}