<div class='allsecurepay-payment-data'>
    {% if (responseStatus == 'success') %}
        <p><strong>{{ text_transaction_details }}:</strong> </p>
        <ul class='allsecurepay-thankyou-order-details order_details'>
            {% if (authCode != '') %}
            <li class='allsecurepay-order-overview'>{{ text_transaction_codes }} <strong>{{ authCode }}</strong></li>
            {% endif %} 
            <li class='allsecurepay-order-overview'>{{ text_transaction_id }} <strong>{{ transactionId }}</strong></li>
            <li class='allsecurepay-order-overview'>{{ text_card_type }} <strong>{{ binBrand }} *** {{ lastFourDigits }}</strong></li>
            <li class='allsecurepay-order-overview'>{{ text_payment_type }} <strong>{{ transactionType }}</strong></li>
            <li class='allsecurepay-order-overview'>{{ text_payment_currency }} <strong>{{ transactionCurrency }}</strong></li>
            <li class='allsecurepay-order-overview'>{{ text_payment_amountpaid }} <strong>{{ transactionAmount }}</strong></li>
            <li class='allsecurepay-order-overview'>{{ text_transaction_time }} <strong>{{ timestamp }}</strong></li>
        </ul>
    {% endif %} 
</div>
